{% extends 'base.html.twig' %}

{% block title %}New Property{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 20px;">
        <h1>Créez un nouveau bien</h1>

        {{ include('account/property/_form.html.twig') }}
        <br>
        <a href="{{ path('property_index') }}">Retour à la liste</a>
    </div>
    <div style="padding-top: 5%;"></div>
{% endblock %}
