{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-5">
        {{ include('component/flash_message.html.twig') }}
    </div>
    <h1>Welcome to this page</h1>
</div>
{% endblock %}
