{% extends 'base.html.twig' %}

{% block title %}Voir tous nos biens{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-5">
        {{ include('component/flash_message.html.twig') }}
    </div>
    <div class="row">
        <div class="col-md-3">
            {% include 'home/_filter.html.twig' with {form: form, min: min, max: max } only  %}
        </div>
        <div class="col-md-4">
            <div class="grid">
                {% for property in properties %}
                    {% include 'home/_card.html.twig' with {property: property} only %}
                {% endfor %}
            </div>
        </div>
        <div class="mt-4">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
</div>
{% endblock %}
