{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-form">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="message-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h1>Réinitialiser votre mot de passe</h1>

            {{ form_start(requestForm) }}
            {{ form_widget(requestForm.email) }}
            <div>
                <small>
                    Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                    lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn-btn-primary">Envoyer</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
    <div style="padding-top: 250px"></div>
{% endblock %}
