{% extends 'base.html.twig' %}

{% block title %}Edit Property{% endblock %}

{% block content %}
   <div class="container">
       <h1>Edit Property</h1>

       {{ include('property/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

       <a href="{{ path('property_index') }}">Retour à la liste</a>
   </div>
{% endblock %}
