/* Footer */
.footer {

  padding: 7rem 1rem;
  background-color: #303441;

  .col {
    flex-direction: column;
    color: var(--white);
    align-items: flex-start;
  }

  .col:last-child {
    flex-direction: row;
    justify-content: center;
  }

  .col:last-child span {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    color: var(--white);
  }

  .col a {
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 300;
  }

  .col h4 {
    margin-bottom: 1rem;
  }

}

footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 99.6rem;
  margin: 0 auto;
}

@media only screen and (max-width: 567px) {
  footer .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
