@import "variables";
/* Contact */
.contact {
  background: url("/assets/images/pic5.jpg") no-repeat fixed;
  color: var(--white);
  padding: 10rem 20rem;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .row .col h2 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  .row .col p {
    font-size: 1.8rem;
    width: 70%;
    margin-bottom: 2rem;
  }

  form div {
    position: relative;
    margin: 0 auto;
  }

  form input {
    font-family: "Roboto", sans-serif;
    text-indent: 2rem;
    font-size: 1.8rem;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem 0;
    outline: none;
    border: none;
  }

  form a {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--green);
    color: white;
    margin: 0.5rem;
    padding: 1.7rem 5rem;
    border-radius: 1rem;
  }

}

.btn-1 {
  background-color: var(--green);
  color: var(--white);
  display: inline-block;
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 1.5rem 5rem;
}

@media only screen and (max-width: 996px) {
  .contact {
    padding: 8rem 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .contact .row {
    grid-template-columns: 1fr;
    gap: 5rem 0;
  }
}

@media only screen and (max-width: 567px) {
  .contact {
    padding: 8rem 1rem;
  }
}