@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Rent Properties */
.section {
  padding: 10rem 0;
}

.section.rent {
  background-color: #f0f4f7;
}

.rent-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 4rem 2rem;
}

.title {

  text-align: center;
  margin-bottom: 5rem;
  padding: 1rem;

  h2 {
    font-weight: 400;
    font-size: 6rem;
    margin-bottom: 1rem;
  }
}

.rent {

  .box {
    transition: all 300ms ease-in-out;
    background-color: white;

    .top {
      padding: 1rem;
      position: relative;
      height: 20rem;
      transition: all 300ms ease-in-out;
    }

    .top img {
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      background-color: white;
      height: 20rem;
      width: 100%;
    }

    .overlay::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms ease-in-out;
    }

    .top:hover .overlay::after {
      opacity: 1;
      visibility: visible;
    }

    .pos {
      position: absolute;
      top: 2rem;
      left: 2rem;
    }

    .pos span {
      display: inline-block;
      font-size: 1.3rem;
      color: white;
      margin-right: 0.5rem;
      padding: 0.3rem;
      border-radius: 0.3rem;
    }

    .pos span:first-child {
      background-color: #43c370;
    }

    .pos span:last-child {
      background-color: #e0203b;
    }

    .bottom {
      padding: 1.5rem;
    }

    .bottom p {
      font-size: 2rem;
      font-weight: 500;
      color: #555;
      cursor: pointer;
      transition: all 300ms ease-in-out;
    }

    .bottom div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      color: #555;
    }

    .bottom div span {
      font-size: 1.8rem;
    }

    .bottom div i {
      font-size: 2.5rem;
    }

  }

  .box:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    .top {
      cursor: pointer;
    }
  }

  .box:hover .bottom p {
    color: #006eff;
  }

}


@media (max-width: 768px) {
  .title h2 {
    font-size: 4rem;
  }
}

@media (max-width: 567px) {
  .title h2 {
    font-size: 3rem;
  }
}




/* Hero Area */
.hero,
.glide__hero,
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--grey-alt);
}

.banner img {
  position: absolute;
  bottom: 0;
}

.banner img.special_01 {
  width: 85rem;
  right: -5%;
}
.banner img.special_02 {
  width: 100rem;
  right: -10%;
}
.banner img.special_03 {
  width: 100rem;
  right: -10%;
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.banner-content span {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--grey);
  margin-bottom: 1rem;
}

.banner-content h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.banner-content h3 {
  font-weight: 400;
  color: var(--grey);
  margin-bottom: 2rem;
}

.buttons-group button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--black);
  outline: none;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.buttons-group button:first-child {
  background-color: var(--black);
  color: var(--white);
}

.buttons-group button:first-child:hover {
  background-color: transparent;
  color: var(--black);
}

.buttons-group button:last-child:hover {
  background-color: var(--black);
  color: var(--white);
}

.glide__arrows {
  /* position: absolute; */
  top: 50%;
}

.glide__arrow {
  position: absolute;
  top: 50%;
  background-color: #555;
  border: 1px solid var(--black);
  outline: none;
  padding: 1.3rem 1.5rem;
  border-radius: 50%;
  font-size: 1.6rem;
  color: var(--white);
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.glide:hover .glide__arrow {
  visibility: visible;
  opacity: 1;
}

.glide__arrow:hover {
  color: var(--black);
  background-color: transparent;
}

.glide__arrow--left {
  left: 5%;
}

.glide__arrow--right {
  right: 5%;
}

@media only screen and (max-width: 1260px) {
  .hero,
  .glide__hero,
  .banner {
    height: 90vh;
  }

  .banner img.special_01 {
    width: 60rem;
  }
  .banner img.special_02 {
    width: 70rem;
  }
  .banner img.special_03 {
    width: 70rem;
  }
}

@media only screen and (max-width: 996px) {
  .banner-content {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner img.special_01 {
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
  }

  .banner img.special_02 {
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
  }
  .banner img.special_03 {
    left: 55%;
    transform: translateX(-50%);
    width: 50rem;
  }
}

@media only screen and (max-width: 768px) {
  .banner-content {
    width: 90%;
  }
}

@media only screen and (max-width: 568px) {
  .banner-content h1 {
    font-size: 3rem;
  }

  .banner-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .buttons-group button {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }
}