<!-- Footer -->
<footer class="footer">
    <div class="row">
        <div class="col d-flex">
            <h4>INFORMATION</h4>
            <a href="">A propos de nous</a>
            <a href="">Nous contacter</a>
            <a href="">Termes et conditions</a>
            <a href="">Guide d'expédition</a>
        </div>
        <div class="col d-flex">
            <h4>LIEN UTILE</h4>
            <a href="">Online Store</a>
            <a href="">Services clientèle</a>
            <a href="">Promotion</a>
            <a href="">Top Marques</a>
        </div>
        <div class="col d-flex">
           <a href=""><span><i class="fab fa-facebook-f"></i></span></a>
           <a href=""><span><i class="fab fa-instagram"></i></span></a>
           <a href=""><span><i class="fab fa-github"></i></span></a>
           <a href=""><span><i class="fab fa-twitter"></i></span></a>
           <a href=""><span><i class="fab fa-pinterest"></i></span></a>
        </div>
    </div>
</footer>