<!-- Header -->
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">BN IMMO</label>
    <ul>
        <li><a class="active" href="#">Accueil</a></li>
        <li><a href="#">Biens</a></li>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Connexion</a></li>
    </ul>
</nav>
