<!-- Contact -->
<section class="section contact">
    <div class="row">
        <div class="col">
            <h2>EXCELLENT SUPPORT</h2>
            <p>
                Nous aimons nos clients et ils peuvent nous joindre à n'importe quel moment de la journée.
                à votre service 24/7
            </p>
            <a href="" class="btn btn-1">Contact</a>
        </div>
        <div class="col">
            <form action="">
                <div>
                    <input type="email" placeholder="Email" />
                    <a href="">Envoyer</a>
                </div>
            </form>
        </div>
    </div>
</section>