<!-- Grid -->
<section class="section grid-layout">
    <div class="title">
        <h1>Propriétés populaires</h1>
    </div>

    <div class="wrapper container">
        <div class="box box1">
            <img src="{{ asset('images/pic4.jpg') }}" alt="" />
        </div>
        <div class="box box2">
            <img src="{{ asset('images/vert3.jpg') }}" alt="" />
        </div>
        <div class="box box3">
            <img src="{{ asset('images/pic1.jpg') }}" alt="" />
        </div>
        <div class="box box4">
            <img src="{{ asset('images/pic3.jpg') }}" alt="" />
        </div>
    </div>
</section>