{% extends 'dashboard.html.twig' %}

{% block title %}New Option{% endblock %}

{% block content %}
  <div class="container">
      <h1>Create new Option</h1>

      {{ include('admin/option/_form.html.twig') }}
      <br>
      <a href="{{ path('option_index') }}" class="btn btn-primary">retour à la liste</a>
  </div>
{% endblock %}
